doctype html
html
  head
    title Emojis
    link(rel="stylesheet" href="./style/ionicons.min.css" type="text/css")
    link(rel="stylesheet" href="./style/style.css" type="text/css")
    script(src="./underscore-min.js")
  body
    .group-logos
      each group, n in emojis
        button.group-logo(data-group=n)= n
    .groups
      each group, n in emojis
        .group(id=n)
          each url, name in group
            .emoji(data-name=name, data-src=url)
              img(src=url)
              span= name
    #detail
      img#detail-logo
      input#detail-input
      button#copy-button
        i.ion-clipboard
    script(src="popup.js")
