doctype html
html
  - var grouplogos = { recent : "./img/emoji/clock9.png" , people : "./img/emoji/smiley.png", nature : "./img/emoji/cherry_blossom.png", objects : "./img/emoji/bell.png", places : "./img/emoji/oncoming_automobile.png", symbols : "./img/emoji/symbols.png" }
  head
    title Emojis
    meta(charset="utf-8")
    link(rel="stylesheet" href="./style/ionicons.min.css" type="text/css")
    link(rel="stylesheet" href="./style/style.css" type="text/css")
    script(src="./src/vendor.js")
  body
    .group-logos
      each group, n in emojis
        button.group-logo(data-group=n)
          img(src=grouplogos[n], alt=n, title=n)
      input#search(placeholder="Search", data-group="search-container")
    .groups
      each group, n in emojis
        .group(id=n, data-emoji="true")
          each emoji in group
            .emoji(data-name=emoji.name, style="background-position:#{-emoji.x / 2}px #{-emoji.y / 2}px;")
      .group(id="search-container",data-emoji=true)
      .group(id="about-container")
        h1
          | Emoji
          img(src="./img/emoji/hatched_chick.png")
          | Helper
        h3= browser
        div.half
          p
            a(href="http://johannhof.github.io/emoji-helper", target="_blank")
              i.ion-earth
              | Website
          p
            a(href="http://github.com/johannhof/emoji-helper", target="_blank")
              i.ion-social-github
              | Contribute on GitHub
          p
            a(href="http://github.com/johannhof/emoji-helper/issues", target="_blank")
              i.ion-bug
              | Bugs & Feature Requests
          p
            | Images are taken from Github's 
            a(href="https://github.com/github/gemoji", target="_blank") gemoji 
            | project.
          p
            | Copyright see 
            a(href="https://github.com/github/gemoji/blob/master/LICENSE", target="_blank") license 
          center
            img.about-text-img(src="./img/emoji/heart.png")
        div.half
          br
          center
            | Version 0.5.2 - 
            img.about-text-img(src="./img/emoji/turtle.png")
          ul
            li Fixes for some small issues
          hr
          p
            a(href="https://github.com/johannhof/emoji-helper/releases", target="_blank")
              i.ion-social-github-outline
              | Full changelog & all releases
    #detail
      div#detail-logo
      input#detail-input(readonly)
      if browser != "Safari" && browser != "Bookmarklet"
        button#copy-button.detail-button(title="Copy to clipboard")
          i.ion-clipboard
      button#about-button.detail-button(title="About", data-group="about-container")
          i.ion-information-circled
    script(src="./src/popup.js")
