mixin link(url)
  a(href="#{url}", target="#{browser === 'Safari' ? '' : _blank}")
    block

doctype html
html
  - var grouplogos = { recent : "./img/emoji/clock9.png" , people : "./img/emoji/smiley.png", nature : "./img/emoji/cherry_blossom.png", objects : "./img/emoji/bell.png", places : "./img/emoji/oncoming_automobile.png", symbols : "./img/emoji/symbols.png" }
  head
    title Emojis
    meta(charset="utf-8")
    link(rel="stylesheet" href="./style/ionicons.min.css" type="text/css")
    link(rel="stylesheet" href="./style/style.css" type="text/css")
    script(src="./src/vendor.js")
  body
    .group-logos
      each group, n in emojis
        button.group-logo(data-group=n)
          img(src=grouplogos[n], alt=n, title=n)
      input#search(placeholder="Search", data-group="search-container")
    .groups
      each group, n in emojis
        .group(id=n, data-emoji="true")
          each emoji in group
            .emoji(data-name=emoji.name, data-unicode=emoji.unicode, style="background-position:#{-emoji.x / 2}px #{-emoji.y / 2}px;")
      .group(id="search-container",data-emoji=true)
      .group(id="settings-container")
        h2 Settings
        p Default value to copy on click :
        p
          input#copy-name(type="radio", name="default-copy", value="name" checked)
          label(for="copy-name") :name:
        p
          input#copy-unicode(type="radio", name="default-copy", value="unicode")
          label(for="copy-unicode") unicode symbol
      .group(id="about-container")
        h1
          | Emoji
          img(src="./img/emoji/hatched_chick.png")
          | Helper
        h3= browser
        div.half
          p
            +link("http://johannhof.github.io/emoji-helper")
              i.ion-earth
              | Website
          p
            +link("http://github.com/johannhof/emoji-helper")
              i.ion-social-github
              | Contribute on GitHub
          p
            +link("http://github.com/johannhof/emoji-helper/issues")
              i.ion-bug
              | Bugs & Feature Requests
          p
            | Images are taken from Github's 
            +link("https://github.com/github/gemoji") gemoji 
            | project.
          p
            | Copyright see 
            +link("https://github.com/github/gemoji/blob/master/LICENSE") license 
          center
            img.about-text-img(src="./img/emoji/heart.png")
        div.half
          p.center
            | Version 0.6.0 - 
            img.about-text-img(src="./img/emoji/snake.png")
          ul
            li adds unicode emojis for supporting browsers (all except Chrome)
            li removes the unnecessary copy button, and enables copy on click into the input field
            li adds a small and hopefully unobtrusive notification when something was copied to the clipboard
            li some code cleanups and fixes
          hr
          p
            +link("https://github.com/johannhof/emoji-helper/releases")
              i.ion-social-github-outline
              | Full changelog & all releases
    #detail
      if browser == "Chrome" || browser == "Firefox"
        #copy-message
          | copied to clipboard
      div#detail-logo
      input#detail-input(readonly)
      if browser != "Chrome"
        input#unicode-input(readonly)
      button#about-button.detail-button(title="About", data-group="about-container")
          i.ion-information-circled
      button#settings-button.detail-button(title="Settings", data-group="settings-container")
          i.ion-settings
    script(src="./src/popup.js")
