doctype html
html
  - var grouplogos = { recent : "./img/emoji/clock9.png" , people : "./img/emoji/smiley.png", nature : "./img/emoji/cherry_blossom.png", objects : "./img/emoji/bell.png", places : "./img/emoji/oncoming_automobile.png", symbols : "./img/emoji/symbols.png" }
  head
    title Emojis
    link(rel="stylesheet" href="./style/ionicons.min.css" type="text/css")
    link(rel="stylesheet" href="./style/style.css" type="text/css")
    script(src="./lib/underscore-min.js")
    script(src="./src/vendor.js")
  body
    .group-logos
      each group, n in emojis
        button.group-logo(data-group=n)
          img(src=grouplogos[n], alt=n, title=n)
      input#search(placeholder="Search", data-group="search-container")
    .groups
      each group, n in emojis
        .group(id=n, data-emoji="true")
          each url, name in group
            .emoji(data-name=name, data-src=url)
              img(src=url)
              //-span= name
      .group(id="search-container",data-emoji=true)
      .group(id="settings-container")
        h2 Settings
        if browser == "chrome" || browser == "firefox"
          div
            span Automatically copy to clipboard
            input#autoCopy(type="checkbox")
      .group(id="about-container")
        h1
          img(src="./img/emoji/hatched_chick.png")
          | Emoji-Helper
        | Version 0.2.0 - 
        img.about-text-img(src="./img/emoji/bee.png")
        br
        br
        img.about-text-img(src="./img/emoji/heart.png")
    #detail
      img#detail-logo
      input#detail-input
      if browser != "safari" && browser != "bookmarklet"
        button#copy-button.detail-button(title="Copy to clipboard")
          i.ion-clipboard
      button#about-button.detail-button(title="About", data-group="about-container")
          i.ion-information-circled
      if browser != "bookmarklet" && browser != "safari"
        button#settings-button.detail-button(title="Settings", data-group="settings-container")
            i.ion-settings
    script(src="./src/popup.js")
